<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/skeleton.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main class="container">
      <section class="row error">
        <h1><%= message %> :(</h1>
        <h2><%= error.status %></h2>
        <pre><%= error.stack %></pre>
      </section>
    </main>
  </body>
</html>
